# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
Dodge Game.sdf
*.tlog
x64/Debug/vc140.idb
Dodge Game.VC.opendb
.CMakeLists.txt.un~
CMakeCache.txt
CMakeFiles
*~
*.sln
*.vcxproj
*.vcxproj.filters
*.sdf
cmake_install.cmake
CTestTestfile.cmake
